#game-container {
    width: 800px;
    height: 400px;
    background-color: lightblue;
    position: relative;
    overflow: hidden;
}

#moveUp {
    width: 60px;
    height: 60px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px 0px;
    position: absolute;
    animation: moveUp 3s linear infinite; /*Example animation*/

}

#obstacle {
    width: 60px;
    height: 60px;
    border-radius: 10px 0px;
    background-color: green;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: moveObstacle 3s linear infinite; /* Example animation */
}
@keyframes  moveObstacle{
    from {top:0; right: 0; }
    to { top:100%; right: 800px; }
}
@keyframes moveUp {
    from {top:100%; right: 0; }
    to { top:0; left: 800px; }
}
